In [2]:
if True:
    print('true')

true

In [3]:
if (2==2):
    print( '2 equals 2')

2 equals 2

In [8]:
if (2!=2):
    print("not equal")
elif True:
    print("elif is exeuted")

elif is exeuted

In [ ]:
if (2!=2):
    print("not equal")
elif True:
    print("elif is exeuted")

In [ ]:
############### FOR #######################

In [11]:
my_iterable = [1,2,3,4,5,6,7,8,9,10]
for item_name in my_iterable:
    print(item_name)

1
2
3
4
5
6
7
8
9
10

In [12]:
for num in my_iterable:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [18]:
for num in my_iterable:
    if num % 2 == 0:
        print(f'Even numbers is,: {num}')
    else:
        print(f'odd number is,:{num}')

odd number is,:1
Even numbers is,: 2
odd number is,:3
Even numbers is,: 4
odd number is,:5
Even numbers is,: 6
odd number is,:7
Even numbers is,: 8
odd number is,:9
Even numbers is,: 10

In [22]:
mylist = my_iterable
sum = 0

for num in mylist:
    sum = sum + num
    print(f'the sum is {sum}')

the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55

In [23]:
mylist = my_iterable
sum = 0

for num in mylist:
    sum += num
    print(f'the sum is {sum}')

the sum is 1
the sum is 3
the sum is 6
the sum is 10
the sum is 15
the sum is 21
the sum is 28
the sum is 36
the sum is 45
the sum is 55

In [26]:
mystring = 'hello world'

for letter in mystring:
    print(letter)

h
e
l
l
o

w
o
r
l
d

In [29]:
mystring = 'hello world'

for _ in mystring:
    print('cool')

cool
cool
cool
cool
cool
cool
cool
cool
cool
cool
cool

In [31]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [32]:
len(tup)

3

In [34]:
my_list_tup = [(1,2),(3,4),(5,6),(7,8)]
len(my_list_tup)

4

In [36]:
for item in my_list_tup:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [44]:
i=0
for (a,b) in my_list_tup:  #### tuple unpacking for a,b in my_list_tup:
    i +=1
    print(f'the first number in tuple of {i} the list is {a}')
    print(f'the second number in tuple of {i} the list is {b}')

the first number in tuple of 1 the list is 1
the second number in tuple of 1 the list is 2
the first number in tuple of 2 the list is 3
the second number in tuple of 2 the list is 4
the first number in tuple of 3 the list is 5
the second number in tuple of 3 the list is 6
the first number in tuple of 4 the list is 7
the second number in tuple of 4 the list is 8

In [45]:
d = {'k1':1,'k2':2,'k3':3}

In [46]:
for item in d:
    print(item)

k1
k2
k3

In [48]:
for item in d.keys():
    print(item)

k1
k2
k3

In [49]:
for item in d.values():
    print(item)

1
2
3

In [50]:
for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [51]:
for keys,values in d.items():
    print(f'keys are {keys}')
    print(f'the corresponding values are {values}')

keys are k1
the corresponding values are 1
keys are k2
the corresponding values are 2
keys are k3
the corresponding values are 3

In [52]:
################## While #####################

In [53]:
x = 0
while x < 5:
    print(f'the current value of the x is {x}')
    x += 1

the current value of the x is 0
the current value of the x is 1
the current value of the x is 2
the current value of the x is 3
the current value of the x is 4

In [ ]:
# break, Continue, pass

In [54]:
x = [1,2,3,4]

for item in x:
    #comment
    pass # if pass is not inserted it will show an error

print('end of my script')

end of my script